:root {
	--dark-pink: #e87ab0;
	--light-pink: #f4d0df;
	--salmon: #df5372;
	--mint: #8ac8bd;
	--yellow: #f5ed64;
	--margin-top-large: 3.6em;
}

html, body {
	height: 100%;
	width: 100%;
}

/*NAV SECTION*/
#nav {
	background-color: var(--mint);
	height: 3.3em;
}

/*HERO SECTION*/
#hero {
	
	height: 100%;
	width: 100%;
}
/*CATERING SECTION*/
#catering {
	background-color: var(--mint);
	margin-top: var(--margin-top-large);
}

.card-header {
	background-image: url("../images/confetti-cros.jpg");


}

/*FOOTER ICONS*/

svg.svg-inline--fa.fa-instagram.fa-w-14 {
	margin-left: 0;
	font-size: 1.7em;
	color: var(--salmon);
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

svg.svg-inline--fa.fa-twitter.fa-w-16,svg.svg-inline--fa.fa-yelp.fa-w-12 {
	font-size: 1.7em;
	margin-left: 2em;
	color: var(--salmon);
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

/*FOOTER & SUB-FOOTER SECTION*/
#sub-footer {
	background-color: var(--dark-pink);

}

h5 {
	font-family: 'Abril Fatface', cursive;

}
h4 {
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	font-size: 1.2em;
}
h3 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
}

h2 {
	font-family: 'Pattaya', sans-serif;
}

p.footer-text {
	margin-top: .8em;
	font-family: 'Fira Sans', sans-serif;
}

.footer-text:hover {
	cursor: pointer;
	color: var(--green);
}