:root {
	--dark-pink: #e87ab0;
	--light-pink: #f4d0df;
	--salmon: #df5372;
	--mint: #8ac8bd;
	--yellow: #f5ed64;
	--margin-top-large: 3.6em;
    --header-font:'Pattaya', sans-serif;
    --sub-header-font:'Raleway', sans-serif;
    --Paragraph-font:'Raleway', sans-serif ;
}

html, body {
	height: 100%;
	width: 100%;
}

/*NAV SECTION*/
#nav {
	background-color: #f6accc;
	height: 5.3em;
    padding: 1rem 1rem;
    font-family: 'Raleway', sans-serif;
}

.nav-link {
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;

}



/*HERO SECTION*/
#hero {
	margin-bottom: 0px;
    height: 100%;
    width: 100%;
    background-image: url("../images/FLAKETRUCK.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

h2{
	text-align: center;
	font-family: var(--sub-header-font);
    font-weight: 900;
}

#mission {
	height: 500px;
	width: 100%;
	/*height: 100%;*/

}

#mission-picture {
	background-image: url("../images/red-velvet-mission.png");
	padding: 0;
	background-color: white;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.mission-paragraph-text {
	font-family: 'Raleway', sans-serif;


}

.mission-statement-header {
	font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: .5em;
    text-align: center;
    margin-left: 40px;
}

a {
    color: black;
}

ul{
     margin-top: -27px;
    justify-content: space-evenly;
    font-family: var(--header-font);
    
}
#menu{
    margin-top:65px;
    margin-bottom: 50px;
}

.card.card-menu {
	/*margin-left: 20px;*/
}

.menu-img{
    display: flex;
    margin: 0 auto;
    height: 93px;
    margin-top: 2em;
    margin-bottom: 2em;
}

li{
    font-size: 25px;
}
h3{
   font-family: var(--sub-header-font);
    font-weight: bold
}

#featured {
    background-color: #fff6e7;
    transform: translateY(-68px);

}



#featured-margin {
	margin-left: 160px;
	margin-right: 160px;
}

#feature-header {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin-left: 0;
	margin-top: .7em;
	font-size: 13px;
}

.feature-images {
	height: 21px;
	     margin-top: 23px;
	 margin-bottom: 1.5em;
}
#menu-content-1 {
        margin-top: 62px;
}

.menu-sub-text {
	margin-top: 0;
	font-size: 15px;
	color: black;

}

.paragraph-text {
	color: black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.menu-headers {
	font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    /*margin-bottom: 1.5em;*/
    text-align: center;
    color: black;

}


p{
    font-family: var( --Paragraph-font);
    font-weight: 200
}
.card{
    margin-left: 20px;
    text-align: center;
    color: #96502f;
}
#seattle-times{
   
    
    margin-left: 86px;
}
#seattle-refined {
    margin-top: 17px;
    margin-left: 40px;
}

/*CATERING SECTION*/
#catering {
	background-color: #fff6e7;
	/*margin-top: var(--margin-top-large);*/
	padding: 0;
}

.catering-text {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
    margin-top: 132px;
    letter-spacing: 2px;
    
}

#black-card-header {
	color: black;
	text-align: left;

}

.catering-img {
	height: 300px;
	width: auto;
	margin-left: 50px;
	z-index: 1;
	position: relative;
}

.catering-img:after {
	content: "";
	background-color: var(--dark-pink);
	/*background-color: white;*/
    position: absolute;
    top: 11px;
    right: 262px;
    width: 50%;
    height: 100%;
    display: block;
}

 #map {
	width: 750px;
    height: 500px;
    padding: 0;
    margin:0;
}
.schedule-paragraph-text {
	font-family: 'Raleway', sans-serif;
	padding: .75rem 1.25rem;
	margin-top: 2px;
}

.schedule-paragraph-text:hover {
	color: var(--dark-pink);
	cursor: pointer;
	text-decoration: underline;
}

.list-group-item {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
}

.no-padding-global {
	padding: 0;
}


.catering-img-two {
	height: 400px;
	width: auto;
	margin-left: 300px;
	z-index: 0;
	margin-top: -80px;
	margin-bottom: 2em;
	position: relative;
}

.catering-header {
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-bottom: 1.5em;
	text-align: center;
	margin-left: 40px;

}

.catering-sub-text {
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	/*text-shadow: 2.3px -1px #fff;*/
	margin-top: 1.3em;
	margin-bottom: .3em;
	text-align: center;
	margin-left: 40px;
	/*color: #464a4e;*/
}

#shadow-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	margin-left: 40px;
	margin-bottom: -20px;
	/*color: #464a4e;*/
	/*text-shadow: 2.3px -1px #fff;*/
}

svg.svg-inline--fa.fa-heart.fa-w-18 {
	font-size: .7em;
	color: var(--salmon);
}


.card {
	border-radius: 0;
	border: none;
	margin-top: 3em;
	margin-bottom: 3.3em;
	z-index: 0;
	margin-left: 40px;
}

#after-card:after {
	content: "";
	background-color: var(--salmon);
    z-index: -1;
    position: absolute;
    top: 10px;
    right: -10px;
    width: 100%;
    height: 100%;
}

.card-header {
	background: var(--dark-pink);
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
	margin-top: 0;
	
}

.card-body {
	background-color: white;
}
.card-header:first-child {
	border-radius: 0;
}

button.btn.btn-outline-primary {
	border-radius: 0;
	border-color: var(--salmon);
	color: var(--salmon);
	font-family: 'Fira Sans', sans-serif;
	width: 10em;
}

button.btn.btn-outline-primary:hover {
	background-color: var(--salmon);
	color: white;
}

#inputName {
	border-radius: 0;
	border-color: transparent transparent black transparent;
}

.form-control:active, .form-control:focus {
	outline: none !important;
   	box-shadow: none;
}

label.col-sm-2.col-form-label {
	/*font-family: 'Fira Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	color: #262626;
}

textarea {
	width: 100%;
	height: 5em;
	margin-top: 1.5em;
}

textarea:active, textarea:focus {
	outline: none !important;
	border-color: var(--light-pink);
  	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
  	box-shadow: inset 0 1px 1px var(--light-pink), 0 0 2px var(--light-pink);
}

#staticOther {
	margin-top: .8em;
}

/*FOOTER ICONS*/

svg.svg-inline--fa.fa-instagram.fa-w-14 {
	margin-left: 0;
	font-size: 1.7em;
	color: var(--salmon);
	margin-top: 1em;
	margin-bottom: 20px;
}

svg.svg-inline--fa.fa-twitter.fa-w-16,svg.svg-inline--fa.fa-yelp.fa-w-12, svg.svg-inline--fa.fa-snapchat-ghost.fa-w-16, svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
	font-size: 1.7em;
	margin-left: 2em;
	color: var(--salmon);
	margin-top: 1em;
	margin-bottom: 20px;
}

svg.svg-inline--fa.fa-instagram.fa-w-14:hover {
	color: orange;
	cursor: pointer;
}

svg.svg-inline--fa.fa-twitter.fa-w-16:hover {
	color: orange;
	cursor: pointer;
}

svg.svg-inline--fa.fa-yelp.fa-w-12:hover {
	color: orange;
	cursor: pointer;
}

svg.svg-inline--fa.fa-snapchat-ghost.fa-w-16:hover {
	color: orange;
	cursor: pointer;
}

svg.svg-inline--fa.fa-facebook-f.fa-w-9:hover {
	color: orange;
	cursor: pointer;
}

/*FOOTER & SUB-FOOTER SECTION*/
#sub-footer {
	background-color: var(--dark-pink);
	margin-top: 2em;

}


h5 {
	/*font-family: 'Abril Fatface', cursive;*/
	font-family: 'Raleway', sans-serif;
	margin-top: 1.5em;
}

h4 {
	/*font-family: 'Fira Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 1.7em;
	margin-top: 1em;
	/*margin-bottom: 20px;*/
}
h3 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	/*font-family: 'Raleway', sans-serif;*/

}

#logo-footer {
	font-family: 'Pattaya', sans-serif;
	font-size: 3.5em;
	margin-top: 1.2em;
	margin-left: 40px;
	text-align: left
}

h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin-left: 40px;
	margin-top: -10px;
}

p.footer-text {
	margin-top: .8em;
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Fira Sans', sans-serif;*/
}

#social-media {
	/*background-color: #c2e7ef;*/
	/*background: linear-gradient(to bottom, #fff, #fff 50%, #f4cce1 50%, #f4cce1); */
	/*background-size: 100% 120px;*/


}

#catering:after {
	content: " ";
    display:block;
    position: relative;
	top:0px;left:0px;
    width:100%;
    height:36px;
    background: -webkit-linear-gradient(#fff6e7 0%, transparent 0%), -webkit-linear-gradient(135deg, #fff 33.33%, transparent 33.33%) 0 0%, #fff -webkit-linear-gradient(45deg, #fff 33.33%, #fff6e7 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 20px 27px, 20px 27px;
}

.margin-top-medium {
	margin-top: 2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.sub-footer-text {
	margin-top: .8em;
	/*font-family: 'Fira Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
}

hr {
	width: 1100px;
}

.footer-text:hover {
	cursor: pointer;
	color: orange;
}

/*TESTOMNONIAL SECTION*/

.car-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 16px;
	/*margin: 30px 200px 200px 10px;*/
	margin-top: 35px;
	margin-left: 40px;
	margin-right: 50px;
	color: #464a4e;
}

.test-paragraph {
	/*display: inline;*/
	text-align: center;
	margin-top: 1em;
	font-family: 'Raleway', sans-serif;

}

svg.svg-inline--fa.fa-quote-left.fa-w-16 {
	margin: 0 auto;
	color: var(--salmon);
	display: flex;
	font-size: 25px;
	margin-top: 1em;

}
svg.svg-inline--fa.fa-quote-right.fa-w-16 {
	margin-left: 362px;
	color: var(--salmon);
	font-size: 25px;
}
.test-paragraph-small {
	font-size: 10px;
	text-align: center;
	margin-top: -10px;
	font-family: 'Raleway', sans-serif;

}

div#carouselExampleIndicators {
	background-color: white;
	min-height: 300px;
	width: 100%;
	margin: 0 auto;
}

.test-img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: 0 auto;
	margin-top: 2em;
}

.carousel-indicators {
	background-color: red;
	margin-top: 10em;
}

.no-padding {
	padding: 0;
	background-color: white;
	background-image: url("../images/test-img.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/*.main-test-img {
	height: 100%;
	width: 100%;
	transform: rotate(270deg);
	
}*/

/*#schedule {
	background-color: pink;
	height: 100%;
	width: 100%;
}*/

#fixed-height-row {
	height: 490px;
}

.test-header {
	margin-top: 2.4em;
	font-family: 'Raleway', sans-serif;
}

#test-section {
	/*background-color: pink;*/
	/*background: linear-gradient(to bottom, var(--dark-pink), var(--dark-pink) 50%, #f4cce1 50%, #f4cce1); /*#f4cce1*/ */
	background-size: 100% 170px;
	background-color: white;

}



@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
  	.sub-footer-text {
  		margin-top: 13px;
  		font-size: 12px;
  	}
  	h2,h6 {
  		margin-left: 0;
  		text-align: center;
  	}
  	h5, p.footer-text {
  		text-align: center;
  	}

}

@media only screen
and (min-width : 481px) 
and (max-width : 1024px) { 
	h2,h6 {
  		margin-left: 0;
  		text-align: center;
  	}
  	h5, p.footer-text {
  		text-align: center;
  	}

}
